In [196]:
import pandas as pd
import numpy as np

In [197]:
# airlineTickets = pd.read_csv('./airlinetickets.csv')
# baseball = pd.read_excel('./baseball.xlsx')
# baseball_numeric = pd.read_csv('./baseball_numeric.csv')

Exercise 1

1 Write a function read_csv(file, missingValueSymbol) that reads in the given csv file
file and replaces all occurrences of missingValueSymbol by a NaN entry and returns
this data frame.

In [198]:
def read_csv(file, missingValueSymbol):
    fileData= pd.read_csv(file)
    for col in fileData.columns:
        fileData[col] = fileData[col].map(lambda x: np.nan if x in [missingValueSymbol] else x)
    return fileData

#read_csv('./airlinetickets.csv', '?')
#read_csv('./baseball_numeric.csv', '?')

2 Write a function getNearestNeighbor(df, point) that takes in a Pandas DataFrame
and an (incomplete) data point and returns the complete data point in the data frame
that has the smallest Euclidean distance to the incomplete point (distance in the reduced
space of available features). For categorical features, assume the distance induced by
the multinomial Bernoulli representation.

In [219]:
def getNearestNeighbor(df, point):
    D = df.copy()
    pointFormatted = point.copy()
    nanIndex = -1
    
    # Get index of the nan value in the array
    for i in range(len(point)):
        if not isinstance(point[i], str):
            if np.isnan(point[i]):
                nanIndex = i
        
    for i in range(len(df.columns)):
        col = df.columns[i]
        
        #Check categoric
        if not np.issubdtype(df[col].dtype, np.number):
            #print('is Categoric')
            indexes = df.index[df[col] != point[i]].tolist()
            exclusionCondition = df.index.isin(indexes)
            
            D.loc[df[col] == point[i], col] = 1
            D.loc[df[col] != point[i], col] = 0
            
            pointFormatted[i] = 0
    
    pointFormatted[nanIndex] = 0
    pointFormatted = pointFormatted.astype(np.float)

    zerosArray = np.zeros(D.shape[0])
    distanceDataFrame = pd.DataFrame(data=zerosArray, columns=['Distance'])

    for i, row in D.iterrows():
        secondPoint = np.array(row.values)
        secondPoint = secondPoint.astype(np.float)
        
        euclideanDistance = np.linalg.norm(pointFormatted - row.values)
        distanceDataFrame['Distance'][i] = euclideanDistance
    
    minDistance = distanceDataFrame['Distance'].min()
    
    rowMinDistance = distanceDataFrame[distanceDataFrame['Distance'] == distanceDataFrame['Distance'].min()]
    indexMinDistance = rowMinDistance.index
    
    filteredTargetValue = df.iloc[indexMinDistance, nanIndex].values[0]
    point[nanIndex] = filteredTargetValue
    
    # Insert to dataframe
    df = df.append(dict(zip(df.columns, point)), ignore_index=True)
    
    return df

# TEST 1

airlineTickets = read_csv('./airlinetickets.csv', '?')
airlineTickets.dropna(axis='columns')

# Get a point
point = np.array(airlineTickets.values[1])

# Set gender to nan value
point[4] = np.nan

# Reset indexes to apply changes
airlineTickets.drop(1, axis=0, inplace=True)
airlineTickets.reset_index(drop=True, inplace=True)

#getNearestNeighbor(airlineTickets, point)

# TEST 2
titanic = read_csv('./titanic.csv', '?')
titanic.dropna(axis='columns')

testPoint = np.array(titanic.values[1])

# Set gender to nan value
testPoint[2] = np.nan

# Reset indexes to apply changes
titanic.drop(1, axis=0, inplace=True)
titanic.reset_index(drop=True, inplace=True)

#getNearestNeighbor(titanic, testPoint)

,Customer ID,Flight ID,Date of Flight,Bonus Card Number,Gender,First Name,Last Name,Day of Ticket Purchase,Booked Class,Seat Number,Ticket Price Before Tax
0,75264,LH450,29/04/2020,3304-9884-7450,male,Trevor,Justice,14/03/2020,Economy,D34,1062
1,41599,LH422,19/12/2019,2425-2680-9280,female,JoAnne,Rawlyns,21/09/2019,Economy,E73,580
2,35633,LH456,30/12/2019,2789-8241-2488,female,Othella,Arnett,23/12/2019,Economy,B69,3261
3,51640,LH109,16/05/2020,5247-1001-1363,female,Chrissy,Mayne,06/03/2020,Economy,E61,633
4,85555,LH233,06/03/2020,2778-1574-9155,male,Roscoe,Firlotte,22/01/2020,Economy,B53,1107
5,65547,LH533,17/05/2020,1827-0913-1099,female,Saree,Wight,17/03/2020,Economy,B65,746
6,51264,LH117,21/10/2019,3299-4369-3158,female,Doria,Nance,04/08/2019,Economy,C86,538
7,98943,LH241,05/05/2020,1563-2956-8733,female,Lenna,Norris,21/04/2020,Economy,B3,2666
8,18071,LH199,14/03/2020,7050-0226-9675,female,Jerrilyn,Niddrie,15/02/2020,Economy,H84,1846
9,36403,LH465,30/03/2020,5607-5295-5103,male,Ryan,Landor,12/01/2020,Economy,H8,564
10,78627,LH259,26/07/2020,8101-5937-7725,female,Corabel,Hixson,13/05/2020,Economy,E6,566
11,13827,LH223,07/05/2020,3449-2387-2197,female,Maren,Mclevin,18/03/2020,Economy,C69,945
12,33165,LH251,24/04/2020,3633-6969-4423,male,Renado,Somerville,29/03/2020,Economy,H3,1954
13,84241,LH545,16/04/2020,8523-1402-3272,male,Geraldo,Cramp,23/02/2020,Economy,G27,865
14,46993,LH493,06/02/2020,3488-4597-9214,female,Rheba,Bonsignore,24/01/2020,Economy,A16,2754
15,89513,LH132,10/09/2019,4907-3447-0838,female,Fawna,Capes,05/09/2019,Economy,E33,3437
16,71288,LH208,29/01/2020,4230-9852-3948,female,Midge,Madden,17/01/2020,Economy,E40,2876
17,77034,LH358,06/10/2019,3033-7190-8763,male,Daffy,Bainbrigg,02/08/2019,Economy,E6,649
18,56936,LH410,27/09/2019,2645-0388-0050,female,Nelle,Howland,03/08/2019,Economy,H90,850
19,88442,LH103,07/07/2020,6826-9355-6721,female,Dix,Tyler,28/05/2020,Economy,G90,1288
20,92932,LH344,20/04/2020,1108-2643-3213,male,Rodrick,Plantaganet,09/02/2020,Economy,H42,585
21,28621,LH371,13/09/2019,1046-6889-6515,male,Aldus,Cross,12/08/2019,Economy,E60,1616
22,89774,LH354,09/08/2019,3738-4509-6615,female,Anne-Mar,Aske,12/07/2019,Economy,E16,1826
23,77844,LH504,07/11/2019,8184-3052-8365,female,Cassey,Sohrweide,29/08/2019,Economy,H29,599
24,99289,LH253,24/12/2019,1097-9800-7838,male,Davy,Bruty,27/10/2019,Economy,C34,814
25,99861,LH566,10/01/2020,3582-9071-1301,female,Annabela,Sturgis,17/10/2019,Economy,F32,568
26,27817,LH525,10/03/2020,6161-7931-1190,male,Goober,Charnley,01/02/2020,Economy,G12,1381
27,15954,LH509,03/06/2020,6436-7972-6008,female,Nessa,Blum,27/03/2020,Economy,D87,689
28,77787,LH585,07/03/2020,6152-3882-9500,female,Florice,Arsenault,19/01/2020,Economy,B35,1000
29,107664,LH501,08/07/2019,6777-5561-1054,female,Matilde,Barber,04/07/2019,Economy,A55,3517
...,...,...,...,...,...,...,...,...,...,...,...
970,94829,LH198,24/05/2020,7337-8985-8904,female,Nelli,Rand,24/05/2020,Economy,D37,3969
971,74911,LH562,04/04/2020,3006-2358-4912,male,Sterling,Twydale,10/03/2020,Economy,A47,1976
972,109945,LH303,27/06/2020,8519-2789-6994,female,Suzann,Sadler,24/04/2020,Economy,F43,748
973,93269,LH494,25/09/2019,7049-0632-3574,male,Hayward,Langford,09/09/2019,Economy,D69,2525
974,84932,LH228,08/01/2020,4824-4843-1784,male,Dudley,Grech,01/12/2019,Economy,B54,1336
975,91705,LH404,08/01/2020,4937-7471-2645,male,Kristian,Udall,02/11/2019,Economy,B91,681
976,67635,LH400,27/05/2020,7990-0095-9692,male,Immanuel,Hollis,16/04/2020,Economy,A59,1214
977,107176,LH537,03/06/2020,5993-0485-1575,male,Martie,Dallimore,03/06/2020,Economy,A91,3941
978,46914,LH423,12/05/2020,5167-7329-0030,female,Cybelle,Hardie,09/03/2020,Economy,G84,744
979,76543,LH180,31/05/2020,1840-5491-5655,female,Torrie,Hardenbroeck,16/05/2020,Economy,B85,2667
980,59305,LH136,19/11/2019,5351-7355-8095,male,Flin,Baxter,09/10/2019,Economy,C84,1165
981,18762,LH594,20/10/2019,4354-7410-9483,female,Cammi,Huddleston,28/07/2019,Economy,D7,580
982,24189,LH279,11/01/2020,7397-4727-1674,male,Lucas,Hjellstrom,18/10/2019,Economy,D41,557
983,87183,LH173,15/06/2020,5559-7800-6382,female,Imogen,Uprichard,09/03/2020,Economy,F7,537
984,42493,LH388,14/02/2020,6929-1021-9255,female,Keelia,Yorke,05/12/2019,Economy,F66,648
985,21843,LH307,18/12/2019,3252-1429-3252,female,Dodie,Newbury,20/11/2019,Economy,B6,1805
986,42169,LH236,15/01/2020,3412-8265-2457,female,Barby,Scutts,21/11/2019,Economy,D47,834
987,43705,LH370,12/08/2020,1046-5109-9837,male,Maurits,Rohrbach,16/05/2020,Economy,A24,572
988,39920,LH485,13/06/2020,6708-9439-8746,male,Judd,Dickey,03/06/2020,Economy,E37,2988
989,103719,LH547,09/03/2020,4664-4764-8685,male,Enrique,Van buskirk,06/01/2020,Economy,D28,721
990,21460,LH237,10/11/2019,1009-2753-3914,male,Worthy,Fairgree,14/08/2019,Economy,G26,541
991,94868,LH279,27/09/2019,9113-7952-8948,female,Cristabel,Householder,15/08/2019,Economy,E91,1127
992,69471,LH233,24/08/2020,3759-1997-5624,female,Corinna,Kedslie,22/05/2020,Economy,D23,534
993,78060,LH291,29/10/2019,8006-4097-8328,male,Tarrance,Batchelor,19/08/2019,Economy,E80,663
994,80072,LH137,23/01/2020,5443-8517-1924,male,Uli,Leitch,20/11/2019,Economy,F69,704
995,80833,LH171,25/11/2019,4892-8372-5043,female,Sasha,Musson,04/11/2019,Economy,G10,2197
996,36156,LH462,04/03/2020,1262-9124-6101,female,Wilona,Peard,06/01/2020,Economy,E63,818
997,106865,LH556,20/11/2019,5284-2937-8422,male,Stanislaw,Holdroyd,15/10/2019,Economy,C74,1357
998,55652,LH115,09/04/2020,8173-1650-9086,male,Geo,Newenham,24/03/2020,Economy,B49,2537
999,103616,LH518,18/07/2019,1746-6292-4745,female,Anatol,Melly,13/07/2019,Economy,E56,3422

3 Write a function impute(df, missingValueSymbol=None) that reads in the CSV using
the first function (if a missing value symbol is defined) and returns a filled up version of
the given data frame, where each incomplete point is replaced by the one acquired by
getNearestNeighbor.

In [207]:
titanic = read_csv('./titanic.csv', '?')
del titanic['Cabin']
def impute(df, missingValueSymbol=None):
    print('impute')
    
    
impute(titanic, np.nan)
    
#print(titanic)
print(titanic[titanic.isnull().any(axis=1)])

impute
     PassengerId  Survived  Pclass  \
5              6         0       3
17            18         1       2
19            20         1       3
26            27         0       3
28            29         1       3
29            30         0       3
31            32         1       1
32            33         1       3
36            37         1       3
42            43         0       3
45            46         0       3
46            47         0       3
47            48         1       3
48            49         0       3
55            56         1       1
61            62         1       1
64            65         0       1
65            66         1       3
76            77         0       3
77            78         0       3
82            83         1       3
87            88         0       3
95            96         0       3
101          102         0       3
107          108         1       3
109          110         1       3
121          122         0       3
126          127         0       3
128          129         1       3
140          141         0       3
..           ...       ...     ...
727          728         1       3
732          733         0       2
738          739         0       3
739          740         0       3
740          741         1       1
760          761         0       3
766          767         0       1
768          769         0       3
773          774         0       3
776          777         0       3
778          779         0       3
783          784         0       3
790          791         0       3
792          793         0       3
793          794         0       1
815          816         0       1
825          826         0       3
826          827         0       3
828          829         1       3
829          830         1       1
832          833         0       3
837          838         0       3
839          840         1       1
846          847         0       3
849          850         1       1
859          860         0       3
863          864         0       3
868          869         0       3
878          879         0       3
888          889         0       3

                                               Name     Sex   Age  SibSp  \
5                                  Moran, Mr. James    male   NaN      0
17                     Williams, Mr. Charles Eugene    male   NaN      0
19                          Masselmani, Mrs. Fatima  female   NaN      0
26                          Emir, Mr. Farred Chehab    male   NaN      0
28                    O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                              Todoroff, Mr. Lalio    male   NaN      0
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
32                         Glynn, Miss. Mary Agatha  female   NaN      0
36                                 Mamee, Mr. Hanna    male   NaN      0
42                              Kraeff, Mr. Theodor    male   NaN      0
45                         Rogers, Mr. William John    male   NaN      0
46                                Lennon, Mr. Denis    male   NaN      1
47                        O'Driscoll, Miss. Bridget  female   NaN      0
48                              Samaan, Mr. Youssef    male   NaN      2
55                                Woolner, Mr. Hugh    male   NaN      0
61                              Icard, Miss. Amelie  female  38.0      0
64                            Stewart, Mr. Albert A    male   NaN      0
65                         Moubarek, Master. Gerios    male   NaN      1
76                                Staneff, Mr. Ivan    male   NaN      0
77                         Moutal, Mr. Rahamin Haim    male   NaN      0
82                   McDermott, Miss. Brigdet Delia  female   NaN      0
87                    Slocovski, Mr. Selman Francis    male   NaN      0
95                      Shorney, Mr. Charles Joseph    male   NaN      0
101                Petroff, Mr. Pastcho ("Pentcho")    male   NaN      0
107                          Moss, Mr. Albert Johan    male   NaN      0
109                             Moran, Miss. Bertha  female   NaN      1
121                      Moore, Mr. Leonard Charles    male   NaN      0
126                             McMahon, Mr. Martin    male   NaN      0
128                               Peter, Miss. Anna  female   NaN      1
140                   Boulos, Mrs. Joseph (Sultana)  female   NaN      0
..                                              ...     ...   ...    ...
727                        Mannion, Miss. Margareth  female   NaN      0
732                            Knight, Mr. Robert J    male   NaN      0
738                              Ivanoff, Mr. Kanio    male   NaN      0
739                              Nankoff, Mr. Minko    male   NaN      0
740                     Hawksford, Mr. Walter James    male   NaN      0
760                              Garfirth, Mr. John    male   NaN      0
766                       Brewe, Dr. Arthur Jackson    male   NaN      0
768                             Moran, Mr. Daniel J    male   NaN      1
773                                 Elias, Mr. Dibo    male   NaN      0
776                                Tobin, Mr. Roger    male   NaN      0
778                         Kilgannon, Mr. Thomas J    male   NaN      0
783                          Johnston, Mr. Andrew G    male   NaN      1
790                        Keane, Mr. Andrew "Andy"    male   NaN      0
792                         Sage, Miss. Stella Anna  female   NaN      8
793                        Hoyt, Mr. William Fisher    male   NaN      0
815                                Fry, Mr. Richard    male   NaN      0
825                                 Flynn, Mr. John    male   NaN      0
826                                    Lam, Mr. Len    male   NaN      0
828                    McCormack, Mr. Thomas Joseph    male   NaN      0
829       Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
832                                  Saad, Mr. Amin    male   NaN      0
837                             Sirota, Mr. Maurice    male   NaN      0
839                            Marechal, Mr. Pierre    male   NaN      0
846                        Sage, Mr. Douglas Bullen    male   NaN      8
849    Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1
859                                Razi, Mr. Raihed    male   NaN      0
863               Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
868                     van Melkebeke, Mr. Philemon    male   NaN      0
878                              Laleff, Mr. Kristo    male   NaN      0
888        Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch           Ticket      Fare Embarked
5        0           330877    8.4583        Q
17       0           244373   13.0000        S
19       0             2649    7.2250        C
26       0             2631    7.2250        C
28       0           330959    7.8792        Q
29       0           349216    7.8958        S
31       0         PC 17569  146.5208        C
32       0           335677    7.7500        Q
36       0             2677    7.2292        C
42       0           349253    7.8958        C
45       0  S.C./A.4. 23567    8.0500        S
46       0           370371   15.5000        Q
47       0            14311    7.7500        Q
48       0             2662   21.6792        C
55       0            19947   35.5000        S
61       0           113572   80.0000      NaN
64       0         PC 17605   27.7208        C
65       1             2661   15.2458        C
76       0           349208    7.8958        S
77       0           374746    8.0500        S
82       0           330932    7.7875        Q
87       0  SOTON/OQ 392086    8.0500        S
95       0           374910    8.0500        S
101      0           349215    7.8958        S
107      0           312991    7.7750        S
109      0           371110   24.1500        Q
121      0        A4. 54510    8.0500        S
126      0           370372    7.7500        Q
128      1             2668   22.3583        C
140      2             2678   15.2458        C
..     ...              ...       ...      ...
727      0            36866    7.7375        Q
732      0           239855    0.0000        S
738      0           349201    7.8958        S
739      0           349218    7.8958        S
740      0            16988   30.0000        S
760      0           358585   14.5000        S
766      0           112379   39.6000        C
768      0           371110   24.1500        Q
773      0             2674    7.2250        C
776      0           383121    7.7500        Q
778      0            36865    7.7375        Q
783      2       W./C. 6607   23.4500        S
790      0            12460    7.7500        Q
792      2         CA. 2343   69.5500        S
793      0         PC 17600   30.6958        C
815      0           112058    0.0000        S
825      0           368323    6.9500        Q
826      0             1601   56.4958        S
828      0           367228    7.7500        Q
829      0           113572   80.0000      NaN
832      0             2671    7.2292        C
837      0           392092    8.0500        S
839      0            11774   29.7000        C
846      2         CA. 2343   69.5500        S
849      0            17453   89.1042        C
859      0             2629    7.2292        C
863      2         CA. 2343   69.5500        S
868      0           345777    9.5000        S
878      0           349217    7.8958        S
888      2       W./C. 6607   23.4500        S

[179 rows x 11 columns]

Exercise 2

2 Create an attribute-wise box plots of the non-categorical attributes of the baseball and
flightticket datasets. Are there outliers? If yes, what do you suggest to do with them?

In [201]:
airlineTickets = read_csv('./airlinetickets.csv', '?')

# Set some nan values to test
point = np.array(airlineTickets.values[1])

# Set gender to nan value
point[4] = np.nan

# Reset indexes to apply changes
airlineTickets.drop(1, axis=0, inplace=True)
airlineTickets.reset_index(drop=True, inplace=True)

# Add it back
airlineTickets = airlineTickets.append(dict(zip(airlineTickets.columns, point)), ignore_index=True)

print(airlineTickets)
print(airlineTickets[airlineTickets.isnull().any(axis=1)])

     Customer ID Flight ID Date of Flight Bonus Card Number  Gender  \
0          75264     LH450     29/04/2020    3304-9884-7450    male
1          41599     LH422     19/12/2019    2425-2680-9280  female
2          35633     LH456     30/12/2019    2789-8241-2488  female
3          51640     LH109     16/05/2020    5247-1001-1363  female
4          85555     LH233     06/03/2020    2778-1574-9155    male
5          65547     LH533     17/05/2020    1827-0913-1099  female
6          51264     LH117     21/10/2019    3299-4369-3158  female
7          98943     LH241     05/05/2020    1563-2956-8733  female
8          18071     LH199     14/03/2020    7050-0226-9675  female
9          36403     LH465     30/03/2020    5607-5295-5103    male
10         78627     LH259     26/07/2020    8101-5937-7725  female
11         13827     LH223     07/05/2020    3449-2387-2197  female
12         33165     LH251     24/04/2020    3633-6969-4423    male
13         84241     LH545     16/04/2020    8523-1402-3272    male
14         46993     LH493     06/02/2020    3488-4597-9214  female
15         89513     LH132     10/09/2019    4907-3447-0838  female
16         71288     LH208     29/01/2020    4230-9852-3948  female
17         77034     LH358     06/10/2019    3033-7190-8763    male
18         56936     LH410     27/09/2019    2645-0388-0050  female
19         88442     LH103     07/07/2020    6826-9355-6721  female
20         92932     LH344     20/04/2020    1108-2643-3213    male
21         28621     LH371     13/09/2019    1046-6889-6515    male
22         89774     LH354     09/08/2019    3738-4509-6615  female
23         77844     LH504     07/11/2019    8184-3052-8365  female
24         99289     LH253     24/12/2019    1097-9800-7838    male
25         99861     LH566     10/01/2020    3582-9071-1301  female
26         27817     LH525     10/03/2020    6161-7931-1190    male
27         15954     LH509     03/06/2020    6436-7972-6008  female
28         77787     LH585     07/03/2020    6152-3882-9500  female
29        107664     LH501     08/07/2019    6777-5561-1054  female
..           ...       ...            ...               ...     ...
970        94829     LH198     24/05/2020    7337-8985-8904  female
971        74911     LH562     04/04/2020    3006-2358-4912    male
972       109945     LH303     27/06/2020    8519-2789-6994  female
973        93269     LH494     25/09/2019    7049-0632-3574    male
974        84932     LH228     08/01/2020    4824-4843-1784    male
975        91705     LH404     08/01/2020    4937-7471-2645    male
976        67635     LH400     27/05/2020    7990-0095-9692    male
977       107176     LH537     03/06/2020    5993-0485-1575    male
978        46914     LH423     12/05/2020    5167-7329-0030  female
979        76543     LH180     31/05/2020    1840-5491-5655  female
980        59305     LH136     19/11/2019    5351-7355-8095    male
981        18762     LH594     20/10/2019    4354-7410-9483  female
982        24189     LH279     11/01/2020    7397-4727-1674    male
983        87183     LH173     15/06/2020    5559-7800-6382  female
984        42493     LH388     14/02/2020    6929-1021-9255  female
985        21843     LH307     18/12/2019    3252-1429-3252  female
986        42169     LH236     15/01/2020    3412-8265-2457  female
987        43705     LH370     12/08/2020    1046-5109-9837    male
988        39920     LH485     13/06/2020    6708-9439-8746    male
989       103719     LH547     09/03/2020    4664-4764-8685    male
990        21460     LH237     10/11/2019    1009-2753-3914    male
991        94868     LH279     27/09/2019    9113-7952-8948  female
992        69471     LH233     24/08/2020    3759-1997-5624  female
993        78060     LH291     29/10/2019    8006-4097-8328    male
994        80072     LH137     23/01/2020    5443-8517-1924    male
995        80833     LH171     25/11/2019    4892-8372-5043  female
996        36156     LH462     04/03/2020    1262-9124-6101  female
997       106865     LH556     20/11/2019    5284-2937-8422    male
998        55652     LH115     09/04/2020    8173-1650-9086    male
999       103616     LH518     18/07/2019    1746-6292-4745     NaN

    First Name     Last Name Day of Ticket Purchase Booked Class Seat Number  \
0       Trevor       Justice             14/03/2020      Economy         D34
1       JoAnne       Rawlyns             21/09/2019      Economy         E73
2      Othella        Arnett             23/12/2019      Economy         B69
3      Chrissy         Mayne             06/03/2020      Economy         E61
4       Roscoe      Firlotte             22/01/2020      Economy         B53
5        Saree         Wight             17/03/2020      Economy         B65
6        Doria         Nance             04/08/2019      Economy         C86
7        Lenna        Norris             21/04/2020      Economy          B3
8     Jerrilyn       Niddrie             15/02/2020      Economy         H84
9         Ryan        Landor             12/01/2020      Economy          H8
10     Corabel        Hixson             13/05/2020      Economy          E6
11       Maren       Mclevin             18/03/2020      Economy         C69
12      Renado    Somerville             29/03/2020      Economy          H3
13     Geraldo         Cramp             23/02/2020      Economy         G27
14       Rheba    Bonsignore             24/01/2020      Economy         A16
15       Fawna         Capes             05/09/2019      Economy         E33
16       Midge        Madden             17/01/2020      Economy         E40
17       Daffy     Bainbrigg             02/08/2019      Economy          E6
18       Nelle       Howland             03/08/2019      Economy         H90
19         Dix         Tyler             28/05/2020      Economy         G90
20     Rodrick   Plantaganet             09/02/2020      Economy         H42
21       Aldus         Cross             12/08/2019      Economy         E60
22    Anne-Mar          Aske             12/07/2019      Economy         E16
23      Cassey     Sohrweide             29/08/2019      Economy         H29
24        Davy         Bruty             27/10/2019      Economy         C34
25    Annabela       Sturgis             17/10/2019      Economy         F32
26      Goober      Charnley             01/02/2020      Economy         G12
27       Nessa          Blum             27/03/2020      Economy         D87
28     Florice     Arsenault             19/01/2020      Economy         B35
29     Matilde        Barber             04/07/2019      Economy         A55
..         ...           ...                    ...          ...         ...
970      Nelli          Rand             24/05/2020      Economy         D37
971   Sterling       Twydale             10/03/2020      Economy         A47
972     Suzann        Sadler             24/04/2020      Economy         F43
973    Hayward      Langford             09/09/2019      Economy         D69
974     Dudley         Grech             01/12/2019      Economy         B54
975   Kristian         Udall             02/11/2019      Economy         B91
976   Immanuel        Hollis             16/04/2020      Economy         A59
977     Martie     Dallimore             03/06/2020      Economy         A91
978    Cybelle        Hardie             09/03/2020      Economy         G84
979     Torrie  Hardenbroeck             16/05/2020      Economy         B85
980       Flin        Baxter             09/10/2019      Economy         C84
981      Cammi    Huddleston             28/07/2019      Economy          D7
982      Lucas    Hjellstrom             18/10/2019      Economy         D41
983     Imogen     Uprichard             09/03/2020      Economy          F7
984     Keelia         Yorke             05/12/2019      Economy         F66
985      Dodie       Newbury             20/11/2019      Economy          B6
986      Barby        Scutts             21/11/2019      Economy         D47
987    Maurits      Rohrbach             16/05/2020      Economy         A24
988       Judd        Dickey             03/06/2020      Economy         E37
989    Enrique   Van buskirk             06/01/2020      Economy         D28
990     Worthy      Fairgree             14/08/2019      Economy         G26
991  Cristabel   Householder             15/08/2019      Economy         E91
992    Corinna       Kedslie             22/05/2020      Economy         D23
993   Tarrance     Batchelor             19/08/2019      Economy         E80
994        Uli        Leitch             20/11/2019      Economy         F69
995      Sasha        Musson             04/11/2019      Economy         G10
996     Wilona         Peard             06/01/2020      Economy         E63
997  Stanislaw      Holdroyd             15/10/2019      Economy         C74
998        Geo      Newenham             24/03/2020      Economy         B49
999     Anatol         Melly             13/07/2019      Economy         E56

     Ticket Price Before Tax
0                       1062
1                        580
2                       3261
3                        633
4                       1107
5                        746
6                        538
7                       2666
8                       1846
9                        564
10                       566
11                       945
12                      1954
13                       865
14                      2754
15                      3437
16                      2876
17                       649
18                       850
19                      1288
20                       585
21                      1616
22                      1826
23                       599
24                       814
25                       568
26                      1381
27                       689
28                      1000
29                      3517
..                       ...
970                     3969
971                     1976
972                      748
973                     2525
974                     1336
975                      681
976                     1214
977                     3941
978                      744
979                     2667
980                     1165
981                      580
982                      557
983                      537
984                      648
985                     1805
986                      834
987                      572
988                     2988
989                      721
990                      541
991                     1127
992                      534
993                      663
994                      704
995                     2197
996                      818
997                     1357
998                     2537
999                     3422

[1000 rows x 11 columns]
     Customer ID Flight ID Date of Flight Bonus Card Number Gender First Name  \
999       103616     LH518     18/07/2019    1746-6292-4745    NaN     Anatol

    Last Name Day of Ticket Purchase Booked Class Seat Number  \
999     Melly             13/07/2019      Economy         E56

     Ticket Price Before Tax
999                     3422

3 Write a function removeOutliers(D, k) that removes any instance that has, in any
attribute a deviation of at least k · IQR from q3 (above) or k · IQR from q1 (below).
Keep in mind that this removal implies that the sample statistics and hence IQR changes,
so you might have to re-run the routine until you get a stable result.

Exercise 3

1 Write a function reduceRedundancy(D, tau) that removes (a minimal number of) columns
from a data frame D so that no pair of attributes in the resulting array has a correlation
higher than tau. Which columns are removed from the baseball dataset this way when setting
tau = 0.75?

2 Plot the attributes that led to exclusion against each other in one scatter plot for each
pair. Do you think that the elimination is ok for all of the pairs?